{% extends "base.html" %} 

{% block title %}
    Exercises
{% endblock title %}


{% block content %}
    <table id="exercise_list">
        {% for exercise in exercises %}
            <tr>
                <td id="exercise_list_item">{{ exercise.name }}</td>
                <td>
                    {% if workout_id %}
                    <a href="{% url 'workout' workout_id %}">
                    {% endif %}
                        <button id="add_exercise_to_workout_btn">
                            Add Exercise
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}