{% extends "base.html" %} 

{% block title %} 
  Workout Exercise 
{% endblock title %} 


{% block content %}
  {% if workout_exercise_set  %}
    <form method="POST" action="{% url 'workout_exercise_set_update' workout_exercise_set.id %}">
      {% csrf_token %}
      <input type="hidden" name="workout_exercise_id" value="{{ workout_exercise.id }}">
      {{ form.as_p }}
      <button id="workout_exercise_set_submit_btn">Submit</button>
    </form>
  {% else %}
    <form method="POST" action="{% url 'workout_exercise_set_create' %}">
      {% csrf_token %}
      <input type="hidden" name="workout_exercise_id" value="{{ workout_exercise.id }}">
      {{ form.as_p }}
      <button id="workout_exercise_set_submit_btn">Submit</button>
    </form>
  {% endif %}

  <table>
    <tr>
      <th>Weight</th>
      <th>Reps</th>
    </tr>
    {% for set in sets %}
      <tr id="workout_exercise_set_list_item">
        <td id="weight_list_item">{{ set.weight }}</td>
        <td id="reps_list_item">{{ set.reps }}</td>
        <td>
          <form action="">
            <input type="hidden" name="id" value="{{ set.id }}">
            <input type="hidden" name="weight" value="{{ set.weight }}">
            <input type="hidden" name="reps" value="{{ set.reps }}">
            <button id="workout_exercise_set_update_btn">
              Update
            </button>
          </form>
        </td>
        <td>
          <form method="POST" action="{% url 'workout_exercise_set_delete' set.id %}">
            {% csrf_token %}
            <button id="delete_workout_exercise_set_btn">
              Delete
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
