{% extends "base.html" %} 

{% block content %}


  <h1>Workouts</h1>

  <table id="workout_list" class="table table-borderless">
    {% for workout in workouts %}
      <tr class="d-flex justify-content-between">
        <td>
          <a id="workout_list_item" href="{{ workout.get_absolute_url }}">Workout on</a>
        </td>
        <td>
          <form
            method="POST"
            action="{% url 'workout_delete' workout.id %}"
          >
            {% csrf_token %}
            <button id="delete_workout_btn" class="btn btn-danger">Delete Workout</button>
          </form>
        </td>
      </tr>
    {% endfor workout %}
  </table>
{% endblock content %}
