{% extends "base.html" %} 

{% block title %} 
  Workout 
{% endblock title %} 


{% block content %}
  <form method="GET" action="{% url 'exercises' %}">
    <input type="hidden" name="workout_id" value="{{ workout.id }}" />
    <button id="add_workout_exercise_btn">Add Exercise</button>
  </form>
  <table id="workout_exercise_list">
    {% for workout_exercise in workout_exercises %}
      <tr>
        <td id="workout_exercise_list_item">
          <a href="{{ workout_exercise.get_absolute_url }}">
            <h1>{{ workout_exercise.exercise.name }}</h1>
          </a>
        </td>
        <td>
          <form
            method="POST"
            action="{% url 'delete_workout_exercise' workout_exercise.id %}"
          >
            {% csrf_token %}
            <button id="delete_workout_exercise_btn">Delete Exercise</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
