{% extends "base.html" %} 

{% block content %}

  <form method="GET" action="{% url 'exercises' %}" class="d-flex justify-content-center mb-3">
    <input type="hidden" name="workout_id" value="{{ workout.id }}" />
    <button id="add_workout_exercise_btn" class="btn btn-primary">Add Exercise</button>
  </form>

  <table id="workout_exercise_list" class="table table-borderless">
    {% for workout_exercise in workout_exercises %}
      <tr class="d-flex justify-content-between align-items-center">
        <td>
          <a href="{{ workout_exercise.get_absolute_url }}">
            <h1 id="workout_exercise_list_item">{{ workout_exercise.exercise.name }}</h1>
          </a>
        </td>
        <td>
          <form
            method="POST"
            action="{% url 'workout_exercise_delete' workout_exercise.id %}"
          >
            {% csrf_token %}
            <button id="delete_workout_exercise_btn" class="btn btn-danger">Delete Exercise</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
