{% extends "base.html" %} 

{% block title %} 
  Sets 
{% endblock title %} 


{% block content %}
  <form method="POST" action="{% url 'workout_exercise_set_create' %}">
    {% csrf_token %}
    <input type="hidden" name="workout_exercise_id" value="{{ workout_exercise.id }}">
    <input type="number" id="weight_input" name="weight">
    <input type="number" id="reps_input" name="reps">
    <button id="set_submit_btn">Submit</button>
  </form>

  <table>
    {% for set in sets %}
      <tr>
        <td id="weight_list_item">{{ set.weight }}</td>
        <td id="reps_list_item">{{ set.reps }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
