{% extends "base.html" %} 

{% block content %}
  {% if workout_exercise_set  %}
    <form method="POST" action="{% url 'workout_exercise_set_update' workout_exercise_set.id %}" class="">
  {% else %}
    <form method="POST" action="{% url 'workout_exercise_set_create' %}">
  {% endif %}

    {% csrf_token %}
    <input type="hidden" name="workout_exercise_id" value="{{ workout_exercise.id }}">
    {% for field in form %}
      <div class="mb-2">{{ field }}</div>
    {% endfor %}
    <button id="workout_exercise_set_submit_btn" class="btn btn-primary">Submit</button>
  </form>

  {% if sets %}
  <table class="table table-borderless mt-2">
    <thead>
      <tr class="">
        <th scope="col">Weight</th>
        <th scope="col">Reps</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for set in sets %}
        <tr id="workout_exercise_set_list_item" class="">
          <td id="weight_list_item">{{ set.weight }}</td>
          <td id="reps_list_item">{{ set.reps }}</td>
          <td>
            <form action="">
              <input type="hidden" name="id" value="{{ set.id }}">
              <button id="workout_exercise_set_update_btn" class="btn btn-warning">
                Update
              </button>
            </form>
          </td>
          <td>
            <form method="POST" action="{% url 'workout_exercise_set_delete' set.id %}">
              {% csrf_token %}
              <button id="delete_workout_exercise_set_btn" class="btn btn-danger">
                Delete
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

{% endblock content %}
