{% extends "base.html" %} 
{% load crispy_forms_tags %}

{% block content %}
<form method="POST" action="{% url 'routine_create' %}">
  {% csrf_token %}
  {{ form|crispy }}
  <button id="create_routine_btn" class="btn btn-primary">Create Routine</button>
</form>

<div id="routine_list" class="container-fluid">
  {% for routine in routines %}
    <div class="row align-items-center my-2">
      <div class="col">
        <a id="routine_list_item" href="{{ routine.get_absolute_url }}">{{ routine.name }}</a>
      </div>
      <div class="col-5">
        <form method="POST" action="{% url 'routine_workout_create' routine.id %}">
          {% csrf_token %}
          <input type="hidden" name="routine_id" value="{{ routine.id }}" />
          <button id="add_routine_to_workout_btn" class="btn btn-primary">Start Workout</button>
        </form>
      </div>
      <div class="col-2">
        <form
          method="POST"
          action="{% url 'routine_delete' routine.id %}"
        >
          {% csrf_token %}
          <button id="delete_routine_btn" class="btn btn-danger">X</button>
        </form>
      </div>
    </div>
  {% endfor routine %}
</div>







{% endblock content %}