{% extends "base.html" %}

{% block content %}
<form method="GET" action="{% url 'exercises' %}" class="d-flex justify-content-center mb-3">
  <input type="hidden" name="routine_id" value="{{ routine.id }}" />
  <button id="add_routine_exercise_btn" class="btn btn-primary">Add Exercise</button>
</form>

<form method="POST" action="{% url 'routine_workout_create' routine.id %}" class="d-flex justify-content-center mb-3">
  {% csrf_token %}
  <input type="hidden" name="routine_id" value="{{ routine.id }}" />
  <button id="add_routine_to_workout_btn" class="btn btn-primary">Start Workout</button>
</form>

<div id="routine_exercise_list" class="container-fluid">
  {% for routine_exercise in routine_exercises %}
    <div class="row align-items-center my-2">
      <div class="col">
        <span id="routine_exercise_list_item">{{ routine_exercise.exercise.name }}</span>
      </div>
      <div class="col-2">
        <form
          method="POST"
          action="{% url 'routine_exercise_delete' routine_exercise.id %}"
        >
          {% csrf_token %}
          <button id="delete_routine_exercise_btn" class="btn btn-danger">X</button>
        </form>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}